<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body style='height: 100vw'>
   <iframe class="result-graphs" src="{{ url_for('graphs') }}" style="height: 100%; width: 100%"></iframe>
    <center>
        <div style="background-color: lightcyan">
                        

            <div class="container">
                <div class="row">


                    </div>
                    

                </div>
            </div>
        
    </center>

</body>

</html>
